<div class="paragraph">
    <h2>News</h2>
    <p>Phasellus maximus, mauris vitae scelerisque hendrerit, odio ipsum fermentum dui, convallis vulputate lacus sem
        quis diam. Integer ultrices efficitur metus et cursus. Praesent malesuada nibh at elementum mattis. Donec vitae
        enim et neque feugiat congue. Curabitur tempor sollicitudin sapien non lobortis. Sed non magna ac nisi
        condimentum accumsan sed at ligula. Suspendisse vel urna molestie, rutrum sapien a, maximus neque. Sed faucibus
        lobortis pharetra. Maecenas pulvinar lectus eu feugiat fermentum.
    </p>
</div>