<div class="paragraph">
    <h2>Home Page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper, metus quis fermentum mattis, massa sapien
        suscipit felis, id sollicitudin diam tortor eget quam. Curabitur scelerisque egestas nisl, quis semper orci.
        Nunc suscipit erat vel nunc elementum hendrerit. Praesent blandit pellentesque feugiat. Vivamus laoreet finibus
        lorem, in dictum felis rhoncus at. Donec maximus molestie mollis. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Sed commodo luctus nisl, non lobortis purus sagittis et.
    </p>
</div>