<div class="paragraph">
    <h2>You are reading more about  {{newsIdentifier}}</h2>
    <p>Aenean dapibus, est eu viverra placerat, urna est tristique tellus, non posuere erat nulla vel ex. Donec aliquet
        neque ipsum, in porttitor velit pretium vitae. Pellentesque eget odio fringilla, eleifend tortor sed, tristique
        nisi. Cras sed magna quis erat mollis feugiat ullamcorper at ex. Fusce facilisis, justo sed ultrices commodo,
        sem odio gravida elit, quis porta metus ex egestas mi. Aliquam posuere libero purus, et elementum odio placerat
        ac. Praesent scelerisque risus in odio rutrum, ut fringilla purus interdum. Quisque nec ornare massa.
        Pellentesque porta a ligula eu imperdiet. Etiam condimentum ante magna, non laoreet sem pellentesque sed. Etiam
        sit amet mauris lectus.
    </p>

    <p>
        <a [routerLink]="'/news'"> Go back</a>
    </p>
</div>